{% extends 'base.html' %}
{% load static %}


{% block css_files %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock css_files %}

<title>{% block page_title  %}Home{% endblock  %}</title>

{% block content %}
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="header_logo">
                    <a href="home.html"><span>ZaP</span>online.</a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header_menu">
                    <ul>
                        <li class="active"><a href="home.html">Home</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">My Orders</a></li>
                        <li><a href="#">My Cart</a></li>
                        
                        
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header_right">
                    <div class="header_right_auth">
                        <a href="#">Login</a>
                        <a href="#">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="categories">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-lg-6 p-0 ">
                <div class="categories_item categories_large_item">
                    <img  src="https://sc04.alicdn.com/kf/H59e87700ae1046d69fd039bb20aa46e8u.jpg" alt="" class="img-fluid himg-size">
                    <div class="categories_text">
                        <h1>Mobile Phones</h1>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        <a href="#">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12 p-0">
                        <div class="categories_item">
                            <img src="https://sc04.alicdn.com/kf/U5152bf47dd9e49d087f18a76d2a4b3e1A.jpg" alt="" class="img-fluid himg-size">
                            <div class="categories_text">
                                <h4>Laptops</h4>
                                
                                <a href="#">Buy now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 p-0">
                        <div class="categories_item">
                            <img src="https://images.moneycontrol.com/static-mcnews/2021/10/Noise_Neckband.jpg" alt="" class="img-fluid himg-size">
                            <div class="categories_text">
                                <h4>Ear Phones</h4>
                                
                                <a href="#">Buy now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 p-0">
                        <div class="categories_item">
                            <img src="https://m.media-amazon.com/images/G/31/Cameras/2022/Sep/Jup/Teaser/shoveler_400x400_1._CB610418111_.jpg" alt="" class="img-fluid himg-size">
                            <div class="categories_text">
                                <h4>Cameras</h4>
                                
                                <a href="#">Buy now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 p-0">
                        <div class="categories_item">
                            <img src="https://m.media-amazon.com/images/I/81GQvhFxlXL._AC_SS450_.jpg"alt="" class="img-fluid himg-size">
                            <div class="categories_text">
                                <h4>Speakers</h4>
                                
                                <a href="#">Buy now</a>
                            </div>
                        </div>
                    </div>
         
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                {% for category in categories %}
                    <div class="col-lg-3 col-md-4 col-6 p-0">
                        <div class="categories_item">
                            <img src="{{category.image.url}}" alt="" class="img-fluid himg-size">
                            <div class="categories_text">
                                <h4>{{category.name}}</h4>
                                
                                <a href=#>Buy now</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h4>New Product</h4>
                </div>
            </div>
        </div>
        <div class="row property_gallery">
            <div class="col-lg-3 col-md-4 col-sm-6 ">
                <div class="product_item ">
                    <div class="product_item_pic  ">
                        <img class="img-size" src="https://rukminim1.flixcart.com/image/416/416/k2jbyq80pkrrdj/mobile-refurbished/k/y/d/iphone-11-256-u-mwm82hn-a-apple-0-original-imafkg25mhaztxns.jpeg?q=70" alt="">
                        <div class="label new">New</div>
                        <ul class="product_hover">
                            <li><a href="#"><i class="fa fa-arrows-alt"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        </ul>
                    </div>
                    <div class="product_item_text">
                        <h6><a href="#">Lorem Ipsum</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product_price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product_item">
                    <div class="product_item_pic">
                        <img class="img-size center-block"src="https://rukminim1.flixcart.com/image/416/416/xif0q/computer/q/h/9/-original-imagg6t9zmscgfed.jpeg?q=70" alt="">
                        <ul class="product_hover">
                            <li><a href="#"><i class="fa fa-arrows-alt"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        </ul>
                    </div>
                    <div class="product_item_text">
                        <h6><a href="#">Lorem Ipsum</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product_price">$ 69.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product_item">
                    <div class="product_item_pic">
                        <img class="img-size " src="https://rukminim1.flixcart.com/image/416/416/ky90scw0/mobile/m/r/u/-original-imagagnffruu7ptd.jpeg?q=70" alt="">
                        <div class="label stockout">out of stock</div>
                        <ul class="product_hover">
                            <li><a href="#"><i class="fa fa-arrows-alt"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        </ul>
                    </div>
                    <div class="product_item_text">
                        <h6><a href="#">Lorem Ipsum</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product_price">$ 49.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product_item">
                    <div class="product_item_pic">
                        <img class="img-size " src="https://rukminim1.flixcart.com/image/416/416/kqwobrk0/headphone/3/n/b/bassheads-100-boat-original-imag4tgdrpxfh3pk.jpeg?q=70" alt="">
                        <ul class="product_hover">
                            <li><a href="#"><i class="fa fa-arrows-alt"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        </ul>
                    </div>
                    <div class="product_item_text">
                        <h6><a href="#">Lorem Ipsum</a></h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product_price">$ 89.0</div>
                    </div>
                </div>
            </div>
            {% for product in products %} 
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product_item">
                    <div class="product_item_pic">
                        <img class="img-size " src="{{product.image.url}}" alt="">
                        <ul class="product_hover">
                            <li><a href="#"><i class="fa fa-arrows-alt"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        </ul>
                    </div>
                    <div class="product_item_text">
                        <h6>{{product.name}}</h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product_price">Rs.{{product.price}}</div>
                    </div>
                </div>
            </div>
            {% endfor %} 
           
     
        </div>
    </div>
</section>
{% endblock content %}