{% extends 'base.html' %}
{% load static %}
<title>{% block page_title  %}Home{% endblock  %}</title>
{% block css_files %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
</style>
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock css_files %}



{% block content %}
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="header_logo">
                    <a href="home.html"><span>ZaP</span>online.</a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header_menu">
                    <ul>
                        <li class="active"><a href="home.html">Home</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="profile">My Account</a></li>
                        <li><a href="myorder">My Orders</a></li>
                        <li><a href="#">My Cart</a></li>
                        
                        
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header_right">
                    <div class="header_right_auth">
                       <a href="logout">Logout</a>
                       {{user.username}}
                        
                </div>
            </div>
        </div>
    </div>
</header>
{% if success %}
<div class="alert alert-success d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <div>
    You Order has been placed successfully.
  </div>
</div>
{% endif %}
<section class="categories">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-lg-6 p-0 ">
                <div class="categories_item categories_large_item">
                    <img  src="https://sc04.alicdn.com/kf/H59e87700ae1046d69fd039bb20aa46e8u.jpg" alt="" class="img-fluid himg-size">
                    <div class="categories_text">
                        <h1>Mobile Phones</h1>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        <a href="#">Buy now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12 p-0">
                        <div class="categories_item">
                            <img src="https://sc04.alicdn.com/kf/U5152bf47dd9e49d087f18a76d2a4b3e1A.jpg" alt="" class="img-fluid himg-size">
                            <div class="categories_text">
                                <h4>Laptops</h4>
                                
                                <a href="#">Buy now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 p-0">
                        <div class="categories_item">
                            <img src="https://images.moneycontrol.com/static-mcnews/2021/10/Noise_Neckband.jpg" alt="" class="img-fluid himg-size">
                            <div class="categories_text">
                                <h4>Ear Phones</h4>
                                
                                <a href="#">Buy now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 p-0">
                        <div class="categories_item">
                            <img src="https://m.media-amazon.com/images/G/31/Cameras/2022/Sep/Jup/Teaser/shoveler_400x400_1._CB610418111_.jpg" alt="" class="img-fluid himg-size">
                            <div class="categories_text">
                                <h4>Cameras</h4>
                                
                                <a href="#">Buy now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 p-0">
                        <div class="categories_item">
                            <img src="https://m.media-amazon.com/images/I/81GQvhFxlXL._AC_SS450_.jpg"alt="" class="img-fluid himg-size">
                            <div class="categories_text">
                                <h4>Speakers</h4>
                                
                                <a href="#">Buy now</a>
                            </div>
                        </div>
                    </div>
         
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                {% for category in categories %}
                    <div class="col-lg-3 col-md-4 col-6 p-0">
                        <div class="categories_item">
                            <img src="{{category.image.url}}" alt="" class="img-fluid himg-size">
                            <div class="categories_text">
                                <h4>{{category.name}}</h4>
                                
                                <a href=#>Buy now</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h4>New Product</h4>
                </div>
            </div>
        </div>
        <div class="row property_gallery">
           
            {% for product in products %} 
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product_item">
                    <div class="product_item_pic">
                        <img class="img-size " src="{{product.image.url}}" alt="">
                        <ul class="product_hover">
                            <li><a href="view_product?id={{product.id}}"><i class="fa fa-arrows-alt"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="addtocart?pid={{product.id}}"><i class="fa fa-shopping-bag"></i></a></li>
                        </ul>
                    </div>
                    <div class="product_item_text">
                        <h6>{{product.name}}</h6>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product_price">Rs.{{product.price}}</div>
                    </div>
                </div>
            </div>
            {% endfor %} 
           
     
        </div>
    </div>
</section>
{% endblock content %}