{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock css_files %}

<title>{% block page_title  %}dashboard{% endblock  %}</title>

{% block content %}
<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="#">ADMIN</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item ">
                <a class="nav-link" href="dashboard">Dashboard</a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" href="users">Users</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="products">Products</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="category">Catogory</a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link" href="offers">Offers</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="coupons">Coupons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="orders">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="adminlogout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="col-md-12 my-4" style="width:auto;">
        <div>
            </div>
        <div class="card">
            <div class="card-header d-flex">
                <div style="width:85%">
                <h4>Coupon Management</h4>
                </div>
                <div >
                <a class="btn btn-primary " href ="addcoupon">Add Coupon</a>
                </div>
            </div>
            <div class="card-body">
                <table id="example" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Discount</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Block</th>
                            
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for coupon in coupons %}
                        <tr>
                            <td>{{coupon.code}}</td>
                            <td>{{coupon.discount}}</td>
                            <td>{{coupon.start_date}}</td>
                            <td>{{coupon.end_date}}</td>
                            <td> {% if coupon.is_active %}
                                <a style=" background:#CCEDD2; " class="btn" href= "blockcoupon?id={{coupon.id}}"><i style=""onclick="return confirm('Are you sure to block '+' {{coupon.code}} ?')">Block</i>
                                    </a>
                                {% else %}
                                <a style="background:#CCEDD2;" class="btn" href= "unblockcoupon?id={{coupon.id}}"><i style="y"onclick="return confirm('Are you sure to unblock '+' {{coupon.code}} ?')"</i>
                                unblock</a>
                                {% endif %}
                            </td>
                           
                            <td>
                                <botton class="btn btn-danger" onclick="deleteCoupon({{coupon.id}})"><i class="fa-solid fa-trash text-light"></i></botton>
                                {% comment %} <a class="btn btn-danger" href="deleteproduct?id={{product.id}}">Delete</a> {% endcomment %}
                                {% comment %} <a class="btn btn-danger" href= "deleteproduct?id={{product.id}}"><i style=""onclick="return confirm('Are you sure to block '+' {{product.name}} ?')"</i>
                                Delete</a> {% endcomment %}
                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'main.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
<script>
    function deleteCoupon(id){
        {% comment %} alert(id); {% endcomment %}
        var id=id;
        
        swal({
            title: "Are you sure to delete the Coupon?",
            text: "",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    url: 'deletecoupon',
                    type: 'GET',
                    data: {id:id},
                    success: function(response){
                        swal("Poof! Coupon has been deleted!", {
                            icon: "success",
                        });
                        location.reload();
                    }
                });
              
            } else {
              swal("Your Coupon is safe!");
            }
          });
    }
    
        
      
</script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.11.3/af-2.3.7/b-2.0.1/b-colvis-2.0.1/b-html5-2.0.1/b-print-2.0.1/cr-1.5.4/date-1.1.1/fc-4.0.0/kt-2.6.4/r-2.2.9/rg-1.1.3/rr-1.2.8/sl-1.3.3/datatables.min.css"/>

{% endblock content %}