{% extends 'base.html' %}
{% block content %}
<div class="m-2">
    <div class="col-md-12 my-4 row " style="width:auto;">
        <div class="card col-md-6">
            <div class="card-header d-flex">
                <div style = "width:95%;">
                <h4>Product Offer Management</h4>
                </div>
                <div style>
                <a class="btn-outline-success btn btn-sm" href ="prod_addoffer">Add</a>
                </div>
            </div>
            
            <div class="card-body">
                <table id="myTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Product</th>
                            <th>Block</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for offer in prod_offers %}
                        <tr>
                            <td>{{offer.name}}</td>
                            <td>{{offer.start_date}}</td>
                            <td>{{offer.end_date}}</td>
                            <td>{{offer.product.name}}</td>
                            <td>
                                {% if offer.is_active %}
                                <a class="btn btn-primary" onclick="blockOffer({{offer.id}})" >Block</i></a>
                                {% else %}
                                <a class="btn btn-primary" onclick="UnblockOffer({{offer.id}})" >Unblock</i></a>
                                {% endif %}
                            </td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card col-md-6">
            <div class="card-header d-flex">
                <div style="width:95%;">
                <h4>Category Offer Management</h4>
                </div>
                <div >
                <a class="btn-outline-success btn btn-sm" href ="cate_addoffer">Add</a>
                </div>
            </div>
            <div class="card-body">
                <table id="order_table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Category</th>
                            
                            <th>Block</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        {% for offer in category_offers %}
                        <tr>
                            <td>{{offer.name}}</td>
                            <td>{{offer.start_date}}</td>
                            <td>{{offer.end_date}}</td>
                            <td>{{offer.category.name}}</td>
                            <td>
                                {% if offer.is_active %}
                                <a class="btn btn-primary" onclick="blockOffer({{offer.id}})" >Block</i></a>
                                {% else %}
                                <a class="btn btn-primary" onclick="UnblockOffer({{offer.id}})" >Unblock</i></a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function () {
        console.log("hello");
        $('#myTable').DataTable();
        $('#order_table').DataTable();
    });
    {% comment %} function deleteOffer(id){
        var id=id;
        alert(id)
        swal({
            title: "Are you sure to delete the offer?",
            text: "",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
                alert('hiii')
                    
                $.ajax({
                    url: 'deletecoupon',
                    type: 'GET',
                    data: {id:id},
                    success: function(response){
                        swal("Poof! Offer has been deleted!", {
                            icon: "success",
                        });
                        location.reload();
                    }
                    
                });
              
            } else {
              swal("Your product is safe!");
            }
          });
    } {% endcomment %}
    function blockOffer(id){
        var id=id;
        swal({
            title: "Are you sure to block the offer?",
            text: "",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
                    
                $.ajax({
                    url: 'blockcoupon',
                    type: 'GET',
                    data: {id:id},
                    success: function(response){
                        swal("Poof! offer has been blocked!", {
                            icon: "success",
                        });
                        location.reload();
                    }
                    
                });
              
            } else {
              swal("Your offer is safe!");
            }
          });
    }
    function UnblockOffer(id){
        var id=id;
        
        $.ajax({
            url: 'unblockcoupon',
            type: 'GET',
            data: {id:id},
            success: function(response){
                
                location.reload();
            }
            
        });
    }
    
        
    
        
      
</script>


{% endblock content %}