
* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
 
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 100px;
  height: 100px;
  margin-left: 140px;
  
  
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
  margin-left: 100px;
  border-style: solid;
  border-color: red;
}

.img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

